{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block header %}
Analyse
{% endblock header %}
{% block title %}
Analyse
{% endblock title %}
{% block content %}
<p>
{{macros::newgame()}}
</p>
<p>Vælg en type analyse:</p>
<dl>
  <dt><a href="/analysis/pvp">Spiller vs. spiller</a></dt>
  <dd>- Hvem af to spillere der vinder mest</dd>
  <dt><a href="/analysis/balls">Boldstatistik</a></dt>
  <dd>- antal spil og mål per bold</dd>
  <dd>- yndlingsbold per spiller (kommer snart)</dd>
  <dt><a href="/analysis/homeaway">Hjemme vs. ude</a></dt>
  <dd>- hvilken side vinder/scorer mest</dd>
  <dt><a href="/ratingsdev">Ratings over tid</a> (demo)</dt>
  <dd>- graf over udvikling for alle spillere</dd>
</dl>
<p>
  Al statistik er for den nuværende spilperiode. F.eks. de seneste 90 dage.
</p>
{% endblock content %}
