{% extends "base.html" %}

{% block header %}
Analyse
{% endblock header %}
{% block title %}
Analyse
{% endblock title %}
{% block content %}
<p>
<a href="/newgame">
<button type="button" class="btn btn-default">Nyt spil</button>
</a>
</p>
<p>Vælg en type analyse:</p>
<dl>
  <dt><a href="/analyse/balls">Boldstatistik</a></dt>
  <dd>- antal spil og mål per bold</dd>
  <dd>- yndlingsbold per spiller</dd>
  <dt><a href="/analyse/homeaway">Hjemme vs. ude</a></dt>
  <dd>- Hvilken side vinder/scorer mest</dd>
  <dt><a href="/analyse/pvp">Spiller vs. spiller</a></dt>
  <dd>- Hvem af to spillere der vinder mest</dd>
</dl>
{% endblock content %}
