{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block header %}
Bolde
{% endblock header %}
{% block title %}
Bolde i brug
{% endblock title %}
{% block content %}
<p>
  {{macros::newball()}}
</p>
<table class="table table-striped">
    <thead>
      <tr>
        <th>Bold</th>
        <th>Antal spil</th>
        <th>Antal mål</th>
      </tr>
    </thead>
    <tbody>
      {% for b in ballstats %}
        <tr>
          <td><a href="/ball/{{b.name}}"><img src="/static/balls/{{b.img|urlencode}}.png" alt="{{b.name}}"/> {{b.name|escape}}</a></td>
          <td>{{b.games}}</td>
          <td>{{b.goals}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock content %}