{% extends "base.html" %}

{% block header %}
{{name}}
{% endblock header %}
{% block title %}
{{name}}
{% endblock title %}
{% block content %}
<p>
<a href="/newgame">
<button type="button" class="btn btn-default">Nyt spil</button>
</a>
</p>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Hvid spiller</th>
      <th>Sort spiller</th>
      <th>Resultat</th>
      <th>Bold</th>
      <th>Tidspunkt</th>
    </tr>
  </thead>
  <tbody>
    {% for g in games %}
      <tr>
        <td><a href="/player/{{g.home}}">{{g.home | escape}}</a></td>
        <td><a href="/player/{{g.away}}">{{g.away | escape}}</a></td>
        <td>
            {{g.home_score | egg(person=g.home|escape)}} &ndash; {{g.away_score | egg(person=g.away|escape)}}
        </td>
        <td><img src="/static/balls/{{g.ball|urlencode}}.png" alt="{{g.ball_name}}"/></td>
        <td>{{g.dato}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}
