{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block header %}
Kampe med {{name}}
{% endblock header %}
{% block title %}
Kampe med {{name}}
{% endblock title %}
{% block content %}
{% if games %}
<p>
{{macros::newgame()}}
</p>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Hvid spiller</th>
      <th>Sort spiller</th>
      <th>Resultat</th>
      <th>Bold</th>
      <th>Tidspunkt</th>
    </tr>
  </thead>
  <tbody>
    {% for g in games %}
      <tr>
        <td><a href="/player/{{g.home}}">{{g.home | escape}}</a></td>
        <td><a href="/player/{{g.away}}">{{g.away | escape}}</a></td>
        <td>
            {{g.home_score | egg(person=g.home|escape)}} &ndash; {{g.away_score | egg(person=g.away|escape)}}
        </td>
        <td><a href="/ball/{{g.ball_name}}"><img src="/static/balls/{{g.ball|urlencode}}.png" alt="{{g.ball_name}}"/></a></td>
        <td>{{g.dato}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
{{ macros::errorpage(error="Spilleren findes ikke!")}}
{% endif %}
{% endblock content %}
