{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block header %}
Spillere
{% endblock header %}
{% block title %}
Spillere
{% endblock title %}
{% block content %}
<p>
{{macros::newplayer()}}
</p>
<table class="table table-striped">
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th>Navn</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for p in players %}
      <tr>
        <td><img src="/static/players/{{p.name|urlencode}}.png" height="100" alt="{{p.name}}"}</td>
        <td><a href="/player/{{p.name}}">{{p.name | escape}}</a></td>
        <td>-</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}
