{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block header %}
PvP: Spiller mod spiller
{% endblock header %}
{% block title %}
Kampe
{% endblock title %}
{% block content %}
{% if map.0.2 %}
<p>
    Kampe mellem {{map.0.2}} og {{map.1.2}}
</p>
<p>
    Målscore: {{map.0.0}} - {{map.1.0}}
</p>
<p>
    {{map.0.2}} har vundet {{map.0.1}} kamp{{map.0.1|pluralize(suffix="e")}} over {{map.1.2}}<br/>
    {{map.1.2}} har vundet {{map.1.1}} kamp{{map.1.1|pluralize(suffix="e")}} over {{map.0.2}}<br/>
    I alt {{pvp | length}} kampe.
</p>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Hvid spiller</th>
      <th>Sort spiller</th>
      <th>Resultat</th>
      <th>Bold</th>
      <th>Tidspunkt</th>
    </tr>
  </thead>
  <tbody>
    {% for g in pvp %}
      <tr>
        <td><a href="/player/{{g.home}}">{{g.home | escape}}</a></td>
        <td><a href="/player/{{g.away}}">{{g.away | escape}}</a></td>
        <td>
            {{g.home_score | egg}} &ndash; {{g.away_score | egg}}
        </td>
        <td><a href="/ball/{{g.ball_name}}"><img src="/static/balls/{{g.ball|urlencode}}.png" alt="{{g.ball_name}}"/></a></td>
        <td>{{g.dato}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
{% if not map.0.2 %}
<div class="alert alert-danger" role="alert">
  <strong>Hov!</strong> De har vist aldrig spillet mod hinanden.
</div>
 <button onclick="goBack()">Tilbage ⬅️</button>

<script>
function goBack() {
    window.history.back();
}
</script>
{% endif %}
{% endblock content %}
