{% extends "base.html" %}

{% block header %}
Sammenlign spillere
{% endblock header %}
{% block title %}
PvP: Spiller mod spiller
{% endblock title %}
{% block content %}
<p>
  Vælg to spillere at sammenligne. Helst to forskellige og gerne
  nogle der har spillet mod hinanden. Ellers giver det jo ikke
  mening 😉
</p>
<form>
  <div class="row">
    <div class="col-md-3">
      Spiller 1:<br/>
      {% for n in names %}
      <input type="radio" name="player1" value="{{n.id}}" required> <img src="/static/players/{{n.name}}.png" height=40 alt="{{n.name | escape}}" /> {{n.name}}<br>
      {% endfor %}
    </div>
    <div class="col-md-3">
      Spiller 2:<br/>
      {% for n in names %}
      <input type="radio" name="player2" value="{{n.id}}" required> <img src="/static/players/{{n.name}}.png" height=40 alt="{{n.name | escape}}" /> {{n.name}}<br>
      {% endfor %}
    </div>
  </div>
  <hr />
  <p>
    <input type="button" onclick="pvpcompare()" value="Sammenlign"/>
  </p>
</form>
{% endblock content %}
