{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block head %}
            <style>
            .axis--x path {
            display: none;
            }

            .line {
            fill: none;
            stroke: black;
            stroke-width: 1.5px;
            }
            </style>
{% endblock head %}
{% block header %}
Udvikling
{% endblock header %}
{% block title %}
Udvikling af scores
{% endblock title %}
{% block content %}
<p>
{{macros::newgame()}}
</p>
        <svg width="1200" height="800"></svg>
<p>
  Scoren er en kombination af µ (rating) og σ (sigma),
  så der vises den dårligst mulige score (µ-3σ).
  Et streaks giver ±10 point på n&aelig;r det den f&oslash;rste (streak på +5 giver +40).
  🥚 koster 100. 🏆 giver +100.
</p>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script>
var svg = d3.select("svg"),
    margin = {top: 20, right: 80, bottom: 30, left: 50},
    width = svg.attr("width") - margin.left - margin.right,
    height = svg.attr("height") - margin.top - margin.bottom,
    g = svg.append("g").attr("transform", "translate(" + margin.left + "," + margin.top + ")");

var parseTime = d3.timeParse("%Y%m%dT%H:%M");

var x = d3.scaleTime().range([0, width]),
    y = d3.scaleLinear().range([height, 0]),
    z = d3.scaleOrdinal(d3.schemeCategory10);

var line = d3.line()
    .defined(function(d) { return d.close !=0})
    .curve(d3.curveBasis)
    .x(function(d) { return x(d.date); })
    .y(function(d) { return y(d.temperature); });

d3.tsv("/data/ratingsdev.tsv", type, function(error, data) {
  if (error) throw error;

  var players = data.columns.slice(1).map(function(id) {
    return {
      id: id,
      values: data.map(function(d) {
        return {date: d.date, temperature: d[id]};
      })
    };
  });

  x.domain(d3.extent(data, function(d) { return d.date; }));

  y.domain([
    d3.min(players, function(c) { return d3.min(c.values, function(d) { return d.temperature; }); }),
    d3.max(players, function(c) { return d3.max(c.values, function(d) { return d.temperature; }); })
  ]);

  z.domain(players.map(function(c) { return c.id; }));

  g.append("g")
      .attr("class", "axis axis--x")
      .attr("transform", "translate(0," + height + ")")
      .call(d3.axisBottom(x));

  g.append("g")
      .attr("class", "axis axis--y")
      .call(d3.axisLeft(y))
    .append("text")
      .attr("transform", "rotate(-90)")
      .attr("y", 6)
      .attr("dy", "0.71em")
      .attr("fill", "#000")
      .text("Score");

  var player = g.selectAll(".player")
    .data(players)
    .enter().append("g")
      .attr("class", "player");

  player.append("path")
      .attr("class", "line")
      .attr("d", function(d) { return line(d.values); })
      .style("stroke", function(d) { return z(d.id); });

  player.append("text")
      .datum(function(d) { return {id: d.id, value: d.values[d.values.length - 1]}; })
      .attr("transform", function(d) { return "translate(" + x(d.value.date) + "," + y(d.value.temperature) + ")"; })
      .attr("x", 3)
      .attr("dy", "0.35em")
      .style("font", "10px sans-serif")
      .text(function(d) { return d.id; });
});

function type(d, _, columns) {
  d.date = parseTime(d.date);
  for (var i = 1, n = columns.length, c; i < n; ++i) d[c = columns[i]] = +d[c];
  return d;
}

</script>
{% endblock content %}
