{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block header %}
Stillingen
{% endblock header %}
{% block title %}
Stillingen
{% endblock title %}

{% block content %}
<table class="table table-striped">
  <thead>
    <tr>
      <th>Placering</th>
      <th>Navn</th>
      <th>Rating</th>
      <th>Streak</th>
      <th>Kampe</th>
      <th>Vundne</th>
      <th>Tabte</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for p in players %}
      <tr>
        <td>{{loop.index}} <img src="/static/players/{{p.name|urlencode}}.png" alt="{{p.name|escape}}" height="{% if loop.first %}40{% else %}30{% endif %}"/></td>
        <td><a href="/player/{{p.name}}">{% if loop.first %}<strong>{{p.name|escape}}</strong>{% else %}{{p.name|escape}}{% endif %}</a></td>
        <td><abbr title="{{p.rating.mu}}±{{p.rating.sigma}}">{{p.rating.score}}</abbr></td>
        <td>
        {% if p.streak > 0 %}
        {{p.streak}} 👍
        {% else %}
        {{p.streak | abs}} 👎
        {% endif %}
        </td>
        <td>{{p.kampe}}</td>
        <td><strong><abbr title="Vundet: {{ 100 / p.kampe * p.vundne}} %">{{p.vundne}}</abbr></strong></td>
        <td><abbr title="Tabt: {{ 100 / p.kampe * p.tabte| round}} %">{{p.tabte}}</abbr></td>
        <td>
          {% if p.aces %} {{p.aces}} 🏆 {% endif %}
          {% if p.eggs %} {{p.eggs}} 🥚 {% endif %}
        </td>
      </tr>
      {% endfor %}
  </tbody>
</table>
<p>
{{macros::newgame()}}
</p>
<p>
    En streak giver ±{{streak_modifier}} point på n&aelig;r det den f&oslash;rste (streak på +5 giver +{{streak_modifier * 4}}).
    🥚 koster {{ace_egg_modifier}}. 🏆 giver +{{ace_egg_modifier}}.
</p>
<p><label for="auto-refresh">Auto-refresh: <input type="checkbox" id="auto-refresh" checked></label></p>
<ul>
    <li><a href="/players">Spillere</a></li>
    <li><a href="/pvp">PvP: Spiller vs. spiller</a></li>
</ul>
  
<p>
  De hvide er hjemmeholdet. De sorte er udeholdet.
</p>
<table class="table table-striped">
<thead>
  <tr>
    <th>&nbsp;</th>
    <th>Hvid</th>
    <th>Sort</th>
  </tr>
</thead>
<tbody>
  {% for felt in homeawaystats %}
    <tr>
      <th>Vundne</th>
      <td>{{felt.homewins}}</td>
      <td>{{felt.awaywins}}</td>
    </tr>
      <th>Mål</th>
      <td>{{felt.homegoals}}</td>
      <td>{{felt.awaygoals}}</td>
    </tr>
  {% endfor %}
</tbody>
</table>

{% endblock content %}
