<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="foosball rating system based on Elo, Glicko and TrueSkill">
    <meta name="author" content="Bjarke Sørensen">
    <title>Foosball League: {{heading}}</title>


        <!-- Bootstrap core CSS -->
        <link href="/static/dist/css/bootstrap.min.css" rel="stylesheet">

        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <link href="/static/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="/static/dashboard.css" rel="stylesheet">

        <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
        <!--[if lt IE 9]><script src="/static/assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
        <script src="/static/assets/js/ie-emulation-modes-warning.js"></script>

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
      </head>

      <body>

        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Dynateam Foosball &beta;</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="/">Stilling</a></li>
                <li><a href="/newgame">Ny kamp</a></li>
                <li><a href="/players">Spillere</a></li>
              </ul>
<!--              <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="Search...">
            </form>-->
            </div>
          </div>
        </nav>

        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
              <ul class="nav nav-sidebar">
                <li {{#if ps}}class="active"{{/if}}><a href="/">Stilling</a></li>
                <li {{#if games}}class="active"{{/if}}><a href="/games">Kampe</a></li>
                <!-- li><a href="#">Analyse</a></li-->
              </ul>
              <ul class="nav nav-sidebar">
                <li {{#if newgame}}class="active"{{/if}}><a href="/newgame">Ny kamp</a></li>
              </ul>
              <ul class="nav nav-sidebar">
                <li {{#if players}}class="active"{{/if}}><a href="/players">Spillere</a></li>
                <li {{#if newplayer}}class="active"{{/if}}><a href="/newplayer">Ny spiller</a></li>
              </ul>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
              <h2 class="sub-header">{{body}}</h2>
              <div class="table-responsive">
                {{#if nykamp_fejl}}
                <div class="alert alert-danger" role="alert">
                  <strong>Prøv igen!</strong> {{nykamp_fejl}}
                </div>
                {{/if}}
                {{#if ps}}
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Placering</th>
                      <th>Navn</th>
                      <th>Rating (µ)</th>
                      <th>Sigma</th>
                      <th>Kampe</th>
                      <th>Vundne</th>
                      <th>Tabte</th>
                    </tr>
                  </thead>
                  <tbody>
                    {{#each ps}}
                      {{#if @first}}

                      {{else}}
                      <tr>
                        <td>{{@index}}</td>
                        <td>{{name}}</td>
                        <td>{{rating}}</td>
                        <td>{{sigma}}</td>
                        <td>{{kampe}}</td>
                        <td>{{vundne}}</td>
                        <td>{{tabte}}</td>
                      </tr>
                      {{/if}}
                    {{/each}}
                  </tbody>
                </table>
                {{/if}}
                {{#if players}}
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>&nbsp;</th>
                      <th>Spiller</th>
                      <th>Oprettet</th>
                      <th>Seneste kamp</th>
                    </tr>
                  </thead>
                  <tbody>
                    {{#each players}}
                      <tr>
                        <td>{{id}}</td>
                        <td>{{name}}</td>
                        <td>-</td>
                        <td>-</td>
                      </tr>
                    {{/each}}
                  </tbody>
                </table>
                {{/if}}
                {{#if games}}
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Hvid spiller</th>
                      <th>Sort spiller</th>
                      <th>Resultat</th>
                    </tr>
                  </thead>
                  <tbody>
                    {{#each games}}
                      <tr>
                        <td>{{home}}</td>
                        <td>{{away}}</td>
                        <td>{{home_score}} &ndash; {{away_score}}</td>
                      </tr>
                    {{/each}}
                  </tbody>
                </table>
                {{/if}}
                {{#if newgame}}
                <form method="post" action="/newgame/submit">
                  Hvid spiller:
                  <select class="" name="home">
                  {{#each names}}
                    <option value="{{id}}">{{name}}</option>
                  {{/each}}
                  </select>
                  Hvid score:
                  <input type="number" name="home_score" min="0" max="10" value="0"><br/>
                  Sort spiller:
                  <select class="" name="away">
                  {{#each names}}
                    <option value="{{id}}">{{name}}</option>
                  {{/each}}
                  </select>
                  Sort score:
                  <input type="number" name="away_score" min="0" max="10" value="0">
                  <br/>
                  <input type="submit" name="submit" value="Indsend">
                <form>
                {{/if}}
                {{#if newplayer}}
                <form method="post" action="/newplayer/submit">
                  Spillerens navn:
                  <input type="text" name="name" value="" required>
                  <br/>
                  <input type="submit" name="submit" value="Opret spiller">
                <form>
                {{/if}}

              </div>
            </div>
          </div>
        </div>

        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="/static/assets/js/vendor/jquery.min.js"><\/script>')</script>
        <script src="/static/dist/js/bootstrap.min.js"></script>
        <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
        <script src="/static/assets/js/vendor/holder.min.js"></script>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="/static/assets/js/ie10-viewport-bug-workaround.js"></script>
      </body>
    </html>
