<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="foosball rating system based on Elo">
    <meta name="author" content="Bjarke Sørensen">
    <title>Foosball League: {{heading}}</title>


        <!-- Bootstrap core CSS -->
        <link href="/static/dist/css/bootstrap.min.css" rel="stylesheet">

        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <link href="/static/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="/static/dashboard.css" rel="stylesheet">

        <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
        <!--[if lt IE 9]><script src="/static/assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
        <script src="/static/assets/js/ie-emulation-modes-warning.js"></script>

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
      </head>

      <body>

        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Dynateam Foosball</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Stilling</a></li>
                <li><a href="#">Ny kamp</a></li>
                <li><a href="#">Spillere</a></li>
              </ul>
<!--              <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="Search...">
            </form>-->
            </div>
          </div>
        </nav>

        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
              <ul class="nav nav-sidebar">
                <li class="active"><a href="#">Stilling <span class="sr-only">(current)</span></a></li>
                <li><a href="#">Kampe</a></li>
                <li><a href="#">Analyse</a></li>
              </ul>
              <ul class="nav nav-sidebar">
                <li><a href="">Ny kamp</a></li>
              </ul>
              <ul class="nav nav-sidebar">
                <li><a href="">Spillere</a></li>
                <li><a href="">Ny spiller</a></li>
              </ul>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                    <!--
              <h1 class="page-header">{{heading}}</h1>

              <div class="row placeholders">
                <div class="col-xs-6 col-sm-3 placeholder">
                  <img src="/static/faces/face.jpg" width="200" height="200" class="img-responsive" alt="Lorem">
                  <h4>Lorem</h4>
                  <span class="text-muted">1933/64/2</span>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">
                  <img src="/static/faces/putin.jpg" width="200" height="200" class="img-responsive" alt="Putin">
                  <h4>Putin</h4>
                  <span class="text-muted">1877/74/25</span>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">
                  <img src="/static/faces/obama.jpg" width="200" height="200" class="img-responsive" alt="Obama">
                  <h4>Obama</h4>
                  <span class="text-muted">1812/23/2</span>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">
                  <img src="/static/faces/broyles.jpg" width="200" height="200" class="img-responsive" alt="Broyles">
                  <h4>Broyles</h4>
                  <span class="text-muted">1500/0/0</span>
                </div>
              </div>
                    -->


              <h2 class="sub-header">{{body}}</h2>
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Rating</th>
                      <th>Spiller</th>
                      <th>Før kamp</th>
                      <th>Foo</th>
                      <th>Bar</th>
                    </tr>
                  </thead>
                  <tbody>
                    {{#each ps}}
                      <tr>
                        <td>{{rating}}</td>
                        <td>{{name}}</td>
                        <td>{{kampe}}</td>
                        <td>{{vundet}}</td>
                        <td>{{tabt}}</td>
                      </tr>
                    {{/each}}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="/static/assets/js/vendor/jquery.min.js"><\/script>')</script>
        <script src="/static/dist/js/bootstrap.min.js"></script>
        <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
        <script src="/static/assets/js/vendor/holder.min.js"></script>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="/static/assets/js/ie10-viewport-bug-workaround.js"></script>
      </body>
    </html>
