{% macro errorpage(error) %}
  <img src="/static/broken_300.png" alt="Broken"/>
  <p class="alert alert-warning">
    {{error}}
  </p>
{% endmacro errorpage %}

{% macro btn(link, txt) %}
<a href="{{link}}">
<button type="button" class="btn btn-default">{{txt}}</button>
</a>
{% endmacro btn %}

{% macro newgame() %}
{{self::btn(link="/newgame", txt="Nyt spil")}}
{% endmacro newgame %}

{% macro newplayer() %}
{{self::btn(link="/newplayer", txt="Ny spiller")}}
{% endmacro newplayer %}

{% macro newball() %}
{{self::btn(link="/newball", txt="Ny bold")}}
{% endmacro newball %}
